.authorizationWrapper {
    padding-top: 100px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.authorizationForm {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 30px;
}

.authorizationForm__input {
    margin-top: 5px;
}

.authorizationForm label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.authorizationForm__validText {
    font-weight: bold;
    color: red;
    min-height: 20px;
}

.authorizationForm__btn {
    width: 300px;
}

.authorizationForm__footer {
    font-size: 18px;
    align-self: center;
    color: gray;  
}

.authorizationForm__footer span {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.authorizationForm__footer span:hover {
    color: rgb(63, 63, 255);
}