.headerForm {
  display: flex;
  align-items: center;
  gap: 10px;
}

.headerForm span {
  font-weight: bold;
  font-size: 30px;
}

.title {
  color: gray;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.1em;
  transition: 0.3s;
  cursor: pointer;
}

.title:hover {
  color: blue;
}

.title._active {
  color: blue;
}
