.posts__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.posts__title {
  color: blue;
  margin-bottom: 50px;
}

.addPostBtn {
  margin-bottom: 50px;
  margin-right: 50px;
}

.posts__tabs {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.posts__totalPostsOnPage {
  font-weight: bold;
  width: 100px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 50px;
  margin-right: 50px;
}

.posts__sortSelect {
  border: 2px solid skyblue;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  outline: none;
}
