.loginWrapper {
    padding-top: 100px;
    max-width: 450px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.login__title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login__title span {
    font-weight: bold;
    font-size: 30px;
}

.login__form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

.login__form__input {
    margin-bottom: 30px;
}

.login__form__btnLogin {
    width: 300px;
}

.login__forgot {
    font-size: 18px;
    align-self: center;
    color: gray;
}

.login__forgot span {
    font-weight: bold;
    color: blue;
    cursor: pointer;
}

.login__forgot span:hover {
    color: rgb(63, 63, 255);
}