.myPosts__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.myPosts__title {
  color: blue;
  margin-bottom: 50px;
}

.addPostBtn {
  margin-bottom: 50px;
}

.myPosts__tabs {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}
